################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HisenseTest/.vs/HisenseTest/v15
/HisenseTest/bin/Debug
/HisenseTest/obj/Debug
/HisenseIPRemote
/HisenseTest/.vs/HisenseTest/DesignTimeBuild
/HisenseTest/.vs/HisenseTest/DesignTimeBuild/.dtbcache
/HisenseTest/.vs/HisenseTest/DesignTimeBuild
